priority -50

################
# BEAMER STUFF #
################

snippet frame "Frame"
\section{$1}
\begin{frame}{$2}
	$0
\end{frame}
endsnippet

snippet lp "Long parenthesis"
\left(${1:${VISUAL:contents}}\right)$0
endsnippet

snippet vspace "Vertical space"
\vspace{${1:10 mm}}
endsnippet

# vim:ft=snippets:
